In [18]:
import torch
import cv2
import tqdm
import matplotlib as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [40]:
meta_file = '../data/HAM10k/HAM10000_metadata.csv'
meta = pd.read_csv(meta_file)
meta.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [41]:
X, y = meta.iloc[:,[0,1,3,4,5,6]], meta.iloc[:,2]

In [42]:
root_path = '../data/HAM10k/HAM10000_images/'

# train/test Split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20, stratify=y)
print(f"train: {len(xtrain)}, test: {len(xtest)} ")

# Concat X/y for train/test
xtrain.insert(loc = 2, column = 'dx', value = ytrain)
xtest.insert(loc= 2 , column = 'dx', value = ytest )

# Adding Image paths column
xtrain['image_pth'] = root_path + xtrain['image_id'] + str('.jpg')
xtest['image_pth'] = root_path + xtest['image_id'] + str('.jpg')

# Writing to CSV
xtest.to_csv('../data/test.csv', index=False)
xtrain.to_csv('../data/train.csv', index=False)

train: 8012, test: 2003

In [1]:
import os
os.name

'nt'